<!-- <div class=" border my-4 rounded-4 shadow bg-dark-subtle">
  <div class="d-flex justify-content-around">
    <a href="#shirt" style="text-decoration: none"
      ><div
        class="container d-flex justify-content-around my-3 border border-2 rounded-5"
        style="height: 400px; width: 300px"
      >
        <div class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner align-items-center">
            <div class="text-center mb-0 text-black"><h3>Shirts</h3></div>
            <div class="carousel-item active">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqNEFAGhlJvBjaSrUirA5U4VCWF5DljCpYYc0X5yuGGsyhyY2d70xYUpyS-Pwce40DxgM&usqp=CAU"
                style="height: 340px; width: 260px"
              />
            </div>
            <div class="carousel-item">
              <img
                src="https://m.media-amazon.com/images/I/6160drhh0oL._AC_SX522_.jpg"
                style="height: 340px; width: 290px"
              />
            </div>
            <div class="carousel-item">
              <img
                src="https://i5.walmartimages.com/seo/CenturyX-Men-s-Long-Sleeve-Button-Up-Shirts-Solid-Slim-Fit-Casual-Business-Formal-Office-Dress-Shirt-Navy-blue-L_b6402861-145d-4822-8230-3fad976ff2ba.a98f6f7224b26a27310b49b5892e819e.jpeg"
                style="height: 340px; width: 280px"
              />
            </div>
          </div>
        </div></div
    ></a>
  
    <a href="#pant" style="text-decoration: none"
      ><div
        class="container d-flex justify-content-around mt-3 border border-2 rounded-5"
        style="height: 400px; width: 300px"
      >
        <div class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner align-items-center">
            <div class="text-center text-black mb-0"><h3>Pants</h3></div>
            <div class="carousel-item active">
              <img
                src="https://5.imimg.com/data5/BO/PX/FY/SELLER-63940850/men-s-plain-pant-500x500.jpg"
                style="height: 340px; width: 290px"
              />
            </div>
            <div class="carousel-item">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXG1c4zRmFTZNM79HpONygmLVIsTdlaFeiHhJ3_0MJ8R0ulSr5VXQAnhI5RBeVCApWqzg&usqp=CAU"
                style="height: 340px; width: 290px"
              />
            </div>
            <div class="carousel-item">
              <img
                src="https://mirzacdns3.s3.ap-south-1.amazonaws.com/cache/catalog/RJO0481/1-445x618.jpg"
                style="height: 340px; width: 290px"
              />
            </div>
          </div>
        </div></div
    ></a>
  
    <a href="#shoe" style="text-decoration: none"
      ><div
        class="container d-flex justify-content-around mt-3 border border-2 rounded-5"
        style="height: 400px; width: 300px"
      >
        <div class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner align-items-center">
            <div class="text-center text-black mb-0"><h3>Shoe</h3></div>
            <div class="carousel-item active">
              <img
                src="https://cms-cdn.thesolesupplier.co.uk/2017/09/adidas-EQT-Support-ADV-91-16-Black-Grey-03_w672_h672_pad_.png.webp"
                style="height: 300px; width: 290px"
              />
            </div>
            <div class="carousel-item">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnjxpAPNPdrsT4NgfY11g3WBGsW5znL8-j_Q&usqp=CAU"
                style="height: 250px; width: 280px"
              />
            </div>
            <div class="carousel-item">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQceJ5pu5jxkNCa75dDrqSaVj8p6EoLJuZVvA&usqp=CAU"
                style="height: 300px; width: 290px"
              />
            </div>
          </div>
        </div></div
    ></a>
  </div>
</div> -->

<!-- Shirt -->
<!-- <div class="text-center my-3" id="shirt" >
  <h1>Shirts</h1>
  <div class="d-flex justify-content-start" >
    <div class="me-4"></div>
    <div
      class="card col-4 rounded-5 shadow me-4"
      style="width: 250px; height: 380px"  *ngFor="let shirt of productShirts"
    >
      <img
        src="{{shirt.photo}}"
        class="rounded-5 border border-2"
        style="width: 248px; height: 250px"
      />
      <div class="card-body pt-2">
        <h5 class="card-title">{{shirt.name}}</h5>
        <h5 class="card-title">₹{{shirt.price}}</h5>
        <div class="d-flex">
          <a routerLink="cart" class="btn btn-warning" style="width: 110px"
            >Add to Cart</a
          >
          <a
            routerLink="orders"
            class="btn btn-success ms-3"
            style="width: 90px"
            >Buy</a
          >
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- Pant -->
<!-- <div class="text-center my-3" id="pant">
  <h1>Pants</h1>
  <div class="d-flex justify-content-start">
    <div class="me-4"></div>
    <div
      class="card col-4 rounded-5 shadow me-4"
      style="width: 250px; height: 380px" *ngFor="let pant of productPants"
    >
      <img
        src="{{pant.photo}}"
        class="rounded-5 border border-2"
        style="width: 248px; height: 250px"
      />
      <div class="card-body pt-2">
        <h5 class="card-title">{{pant.name}}</h5>
        <h5 class="card-title">₹{{pant.price}}</h5>
        <div class="d-flex">
          <a routerLink="cart" class="btn btn-warning" style="width: 110px"
            >Add to Cart</a
          >
          <a
            routerLink="orders"
            class="btn btn-success ms-3"
            style="width: 90px"
            >Buy</a
          >
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- shoes -->
<!-- <div class="text-center my-3" id="shoe">
  <h1>Shoes</h1>
  <div class="d-flex justify-content-start">
    <div class="me-4"></div>
    <div
      class="card col-4 rounded-5 shadow me-4"
      style="width: 250px; height: 300px" *ngFor="let shoe of productShoes"
    >
      <img
        src="{{shoe.photo}}"
        class="rounded-5 border border-2"
        style="width: 248px; height: 200px" 
      />
      <div class="card-body pt-2">
        <h5 class="card-title">{{shoe.name}}</h5>
        <h5 class="card-title">₹{{shoe.price}}</h5>
        <div class="d-flex">
          <a routerLink="cart" class="btn btn-warning" style="width: 110px"
            >Add to Cart</a
          >
          <a
            routerLink="orders"
            class="btn btn-success ms-3"
            style="width: 90px"
            >Buy</a
          >
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- Http Products -->
<div class="text-center my-3">
  <h1>Shoes</h1>
  <div class="d-flex justify-content-around flex-wrap">
    <!-- <div class="me-4"></div> -->
    <div
      class="card col-4 rounded-5 shadow m-4 "
      style="width: 250px; height: 400px" *ngFor="let product of products"
    >
      <img
        src="{{product.image}}"
        class="rounded-5 border border-2"
        style="width: 248px; height: 200px" 
      />
      <div class="card-body pt-2">
        <h5 class="card-title">{{product.title}}</h5>
        <h5 class="card-title">₹{{product.price}}</h5>
        <div class="text-center">
          <a (click)="addToCart(product.id)" class="btn btn-warning" style="width: 110px"
            >Add to Cart</a
          >
          <!-- <a
            routerLink="orders"
            class="btn btn-success ms-3"
            style="width: 90px"
            >Buy</a
          > -->
        </div>
      </div>
    </div>
  </div>
</div>